player-connection-mode=Listen
player-connection-guid=4045417723
player-connection-debug=0
player-connection-project-name=My project (3)
player-connection-ip=10.22.133.5
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8e7f0b4acac94b30b5f7d9fe21cb68b3
